<div class="control">
    <div class="control_area"></div>
    <div class="topControl">
        <div class="progress">
            <span class="bufferBar"></span>
            <span class="timeBar"></span>
        </div>
        <div class="time">
            <span class="current"></span> / 
            <span class="duration"></span> 
        </div>
    </div>
    
    <div class="btmControl">
        <div class="btnPlay btn" title="Play/Pause video"></div>
        <div class="btnStop btn" title="Stop video"></div>
        <div class="btnFS btn" title="Switch to full screen"></div>
        <div class="volume" title="Set volume">
            <span class="volumeBar"></span>
        </div>
        <div class="sound sound2 btn" title="Mute/Unmute sound"></div>
    </div>
    
</div>
