<div class="help" id="help">
	<table>
		<tr>
			<td class="helphdr">Z/Q/S/D (A/W/S/D in QWERTY mode)</td><td class="helpvalue">Move</td>
		</tr>
		<tr>
			<td class="helphdr">SPACE</td><td class="helpvalue">Go UP</td>
		</tr>
		<tr>
			<td class="helphdr">X</td><td class="helpvalue">Go DOWN</td>
		</tr>
		<tr>
			<td class="helphdr">Right mouse button</td><td class="helpvalue">Enter/leave a mode where you can use the mouse to rotate the camera</td>
		</tr>
		<tr>
			<td class="helphdr">SHIFT+move</td><td class="helpvalue">Move quicker</td>
		</tr>
		<tr>
			<td class="helphdr">CTRL+move</td><td class="helpvalue">Move slower</td>
		</tr>
		<tr>
			<td class="helphdr">H</td><td class="helpvalue">Show/Hide the help panel</td>
		</tr>
		<tr>
			<td class="helphdr">ENTER</td><td class="helpvalue">Show/Hide the informational panels</td>
		</tr>
		<tr>
			<td class="helphdr">HOME</td><td class="helpvalue">Come back to the menu page</td>
		</tr>
	</table>
</div>
