<div class="panel" id="panel">
	<table>
		<tr>
			<td class="panelhdr">Current room</td><td class="panelval"><span id="currentroom"></span></td>
			<td class="panelhdr">Num lights&nbsp;&nbsp;<span class="panelval" id="numlights"></span></td>
			<td class="panelhdr">Single room mode</td><td class="panelval"><input type="checkbox" id="singleroommode"/></td>
			<td class="panelhdr">No lighting</td><td class="panelval"><input type="checkbox" id="nolights"/></td>
			<td class="panelhdr">Use additional lights</td><td class="panelval"><input type="checkbox" id="useaddlights"/></td>
		</tr>
		<tr>
			<td class="panelhdr">Camera position</td><td class="panelval" colspan="2"><span id="camerapos"></span></td>
			<td class="panelhdr">Wireframe mode</td><td class="panelval"><input type="checkbox" id="wireframemode"/></td>
			<td class="panelhdr">Full screen</td><td class="panelval"><input type="checkbox" id="fullscreen"/></td>
		</tr>
		<tr>
			<td class="panelhdr">Camera rotation</td><td class="panelval" colspan="2"><span id="camerarot"></span></td>
			<td class="panelhdr">Fog</td><td class="panelval"><input type="checkbox" id="usefog"/></td>
			<td class="panelhdr">Show bounding boxes</td><td class="panelval"><input type="checkbox" id="showboundingboxes"/></td>
		</tr>
		<tr>
			<td class="panelhdr">Calls / triangles / objects</td><td class="panelval" colspan="2"><span id="renderinfo"></span></td>
			<td class="panelhdr">QWERTY mode</td><td class="panelval"><input type="checkbox" id="useqwerty"/></td>
			<td class="panelhdr">No object texture</td><td class="panelval"><input type="checkbox" id="noobjecttexture"/></td>
		</tr>
		<tr>
			<td class="panelhdr">Geometries / programs / textures</td><td class="panelval" colspan="2"><span id="memoryinfo"></span></td>
			<td class="panelhdr">No bump mapping</td><td class="panelval"><input type="checkbox" id="nobumpmapping"/></td>
			<td class="panelhdr">Show portals</td><td class="panelval"><input type="checkbox" id="showportals"/></td>
		</tr>
	</table>
</div>
