.help {
	position: absolute;
	top: 150px;
	left: 200px;
	background-color: #00FF00A0;
	opacity: 1;
	z-index: 200;
	display: none;
	font-size: 25px;
	border: 1px solid white;
}

.helphdr {
	font-weight: bold;
	width: 300px;
}

.helpvalue {
	width: 400px;
}