.progress {
	color:red;
	top:7em;
	width: 100%;
	font-size:3em;
	font-variant:small-caps;
	font-weight:bold;
	position:absolute;
	z-index:100;
	text-align: center;
	text-shadow: #000 0px 0px 10px;
	display:none;
}

.progress .start {
	color:#fff;
	text-shadow: #000 0px 0px 2px;
	padding:0.1em 0.3em;
	width:3em;
	text-align: center;
	display:none;
}

.progress .enabled {
	color: lime!important;
	cursor:pointer;
}

.progress .enabled:hover {
	text-shadow: #0f0 0px 0px 5px !important;
}

.progress .disabled {
	background:gray;
	cursor:default;
}

.progressbar {
    box-sizing: border-box;
}

/* from https://connoratherton.com/loaders */
@keyframes scale {
    0%,80% {
        transform:scale(1);
        opacity:1
    }
    45% {
        transform:scale(.1);
        opacity:.7
    }
}

.ball-pulse > div:nth-child(1) {
    animation: scale .75s -.24s infinite cubic-bezier(.2,.68,.18,1.08);
}

.ball-pulse > div:nth-child(2) {
    animation: scale .75s -.12s infinite cubic-bezier(.2,.68,.18,1.08);
}

.ball-pulse > div:nth-child(3) {
    animation: scale .75s 0s infinite cubic-bezier(.2,.68,.18,1.08);
}

.ball-pulse > div {
    width: 15px;
    height: 15px;
    animation-fill-mode: both;
    box-sizing: border-box;
}

.ball-pulse > div {
    background-color: #fff;
    border-radius: 100%;
    margin: 2px;
    display: inline-block;
}
